@font-face {
  font-family: 'Kanit-Medium';
  src: url(/public/Gemunu_Libre/Kanit-Medium.ttf);
}

* {
  margin: 0;
  font-family: 'Kanit-Medium';
  cursor: wait;
}

::-webkit-scrollbar {
  max-width: 0.4rem;
  max-height: 0.4rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 3rem;
  background-color: rgb(199, 199, 199);
}

::-webkit-scrollbar-track {
  margin-block: 0.5rem;
}

body {
  display: flex;
  justify-content: center;
  /* border: solid 1px red; */
}

.root-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: solid 1px red; */
}

.logo {
  margin-block: 1.5rem;
  max-width: 120px;
}

.main-container {
  min-width: 200px;
  border-radius: 1rem;
  padding: 1rem;
  /* border: solid 1px red; */
}

.form-input {
  max-width: 360px;
  display: flex;
  flex-direction: column;
  /* border: solid 1px red; */
}

/* .first-section {
  border: solid 1px red;
} */

.tip-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.3rem;
  /* border: solid 1px red; */
}

.number-of-people-section {
  margin-block: 1rem;
  /* border: solid 1px red; */
}

.output-section {
  min-height: 240px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(8, 85, 90);
  border-radius: 0.2rem;
  /* border: solid 1px red; */
}

.buttons {
  border: none;
  border-radius: 0.2rem;
  background-color: rgb(8, 85, 90);
  color: #fff;
}

.buttons:hover {
  background-color: rgb(0, 214, 203);;
}

.reset {
  border: none;
  border-radius: 0.2rem;
  background-color: rgb(0, 214, 203);;
}

.reset:hover {
  background-color: rgb(13, 144, 153);
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.reset {
  color: #fff;
  min-height: 3rem;
}

h3 {
  font-weight: bold;
}

@media screen and (min-width: 540px) {
  
  .main-container {
    display: flex;
  }

  .output-section {
    margin: 0 0.5rem;
    min-width: 250px;
  }

  /* .logo {
    display: none;
  } */

}